:root {
  --main-bg-color: white;
  /* --main-title-color: rgb(252, 128, 148); */
    --main-title-color: rgb(250, 95, 121);
  --message-area-bg-color: white;
  --button-bg-color: white;
  --button-border-color: black;
  --gb-bg-color:white;
  --gbOne-bg-color: green;
  --gbTwo-bg-color:blue;
  /* cells */
  --cell-plain-bg-color: rgb(163, 230, 245);
  --cell-hover-bg-color: rgba(9, 116, 140, 0.7);
  --cell-place-bg-color: rgb(9, 116, 140);
  --cell-ship-bg-color: red;
  --cell-hit-ship-bg-color: red;
  /* I love this below color pink */
  --cell-sunk-ship-bg-color: rgb(255, 0, 174);
  --cell-miss-bg-color: gray;
  --cell-fire-bg-color: rgba(9, 116, 140, 0.4);
  /* box shadows */
  --place-here-box-shadow: 0px 0px 30px 0px rgb(255, 68, 0);
  --fire-here-box-shadow: 0px 0px 30px 0px rgb(255, 68, 0);
  --subtle-box-shadow: -2px 2px 0px #0d012d25;

  /* TEXT */
  --sidebar-header-text: 'IBM Plex Mono';
  --sidebar-small-text: 'IBM Plex Mono';
  /* --sidebar-small-text: 'Roboto'; */
  --waters-header-text: 'IBM Plex Mono';
  --message-area-text: 'IBM Plex Mono';
  --ns-form-text: 'IBM Plex Mono';
  --button-text: 'IBM Plex Mono';
  /* better divisions */
  --small-facts-text:'IBM Plex Mono';
  --message-text: 'Roboto';
}

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 18px;
  font-family: 'IBM Plex Mono';
}

.hidden {
  display: none;
}

.shown {
  visibility: visible;
}

.flexthird {
  height: 60px;
  display: flex;
  justify-content: center;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

h1 {
  font-size: 60px;
  margin-bottom: 40px;
  font-family: 'Bungee';
  color: var(--main-title-color);
}

h2 {
  font-family: var(--waters-header-text);
  font-size: 28px;
  color: gray;
}

h3 {
  font-family: var(--waters-header-text);
  font-size: 24px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ibm-plex-mono-regular - latin */
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('./fonts/ibm-plex-mono-v15-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/ibm-plex-mono-v15-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
  display: grid;
  grid-template-columns: 350px auto;
  height: 100vh;
}

/* SIDEBAR */
#sidebar {
  box-sizing: border-box;
  width: 100%;
  grid-column: 1 / 2;
  border-right: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
}

.smallfacts {
  font-family: 'IBM Plex Mono';
}

#rulescontainer, #scorecontainer.shown, #colorkeycontainer {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: 10px;
}

#gb1-ships {
  margin-bottom: 20px;
}

ul {
  margin-left: 15px;
}

li {
  margin: 10px 0px 10px 15px;
  font-size: 18px;
}

.scoreli, .rulesli, .keydef {
  font-family: var(--sidebar-small-text);
  /* font-weight: 400px; */
}

.rulesli {
  line-height: 30px;
}

li.scoreli {
  list-style-type: none;
}


.sidebarheaderexpands {
  display: flex;
  flex-direction: row;
}

.expandicon {
  position: relative;
  top: -3px;
  left: 5px;
  cursor: pointer;
}

#colorkey {
  grid-template-rows: 40px 40px 40px 40px 40px;
  grid-template-columns: 40px auto;
  gap: 10px;
}

#colorkey.shown {
  display: grid;
}

.keysquare {
  border: black solid 1px;
}

.keydef {
  align-self: center;
  font-size: 18px; 
}

#watersqkey {
  background-color: var(--cell-plain-bg-color);
}

#yourshipsqkey {
  background-color: var(--cell-place-bg-color);
}

#hitshipsqkey {
  background-color: var(--cell-hit-ship-bg-color);
}

#sunkshipsqkey {
  background-color: var(--cell-sunk-ship-bg-color);
}

#misssqkey {
  background-color: var(--cell-miss-bg-color);
}

.scoresunkship {
  text-decoration: line-through;
}
/* END SIDEBAR */


/* BUTTONS */
button.regular {
  background-color: var(--button-bg-color);
  border: 1px solid var(--button-border-color);
  padding: 5px 20px 5px 20px;
  font-size: 18px;
  box-shadow: var(--subtle-box-shadow);
  width: fit-content;
  font-family: var(--button-text);
  font-weight: 400px;
  text-transform: uppercase;
  cursor: pointer;
}

button.regular:hover {
  background-color: rgb(244, 236, 237);
}

button.regular:active {
  background-color: rgb(245, 176, 92);
}
/* END BUTTONS */

/* MAIN */
#main {
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  /* centers vertically */
  justify-content: flex-start; 
  align-items: center;
  background-color: var(--main-bg-color);
  padding-top: 40px;
}

/* ---------------HEADER AREA------------------ */
#messagearea {
  box-sizing: content-box;
  border-radius: 5px;
  background-color: var(--message-area-bg-color);
  width: 600px;
  height: 180px;
  margin-bottom: 40px;
  border: 1px solid black;
}

.message {
  font-size: 22px;
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
}

.msgtop, .msgmiddle, .msgbottom {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.msgtop {
  background-color:rgb(243, 229, 159);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.msgmiddle {
  background-color:rgb(247, 211, 168);
}

.msgbottom {
  background-color:rgb(239, 189, 199);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.msgwrapper {
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}


/* WELCOME FORM */
#welcomeform {
  justify-content: center;
}

#welcomeform.shown{
  display: flex;
}

input.nsformitem {
  min-width: 80%;
  padding: 5px;
  text-align: left;
  font-family: 'Roboto';
  font-weight: 400px;
  font-size: 18px;
}
/* END WELCOME FORM */

/* SHIP PLACEMENT */
#placementwrapper {
  justify-content: center;
  justify-items: center;
}

#placementwrapper.shown {
  display: flex;
}

#toggleicon {
  position: relative;
  top: 2px;
  left: 5px;
  height: 18px;
}

.shipname {
  font-family: 'IBM Plex Mono';
  text-transform: uppercase;
  color: red;
}
/* END SHIP PLACEMENT */

/* MOVES */
#movewrapper {
  justify-content: flex-start;
}

.movemsg {
  text-align: left;
  align-self: left;
}
/* END MOVES */

/* GAME OVER */
#gameoverwrapper {
  justify-content: center;
  justify-items: center;
}

#gameoverwrapper.shown {
  display: flex;
}
/* ---------------END HEADER AREA------------------ */

/* GAMEBOARD AREA */
#gameboardrow {
  display: flex;
  flex-direction: row;
  background-color: var(--gb-bg-color);
}

.gameboardcolumn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gameboardcontainer {
  background-color: var(--gb-bg-color);
  width: 400px;
  height: 400px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  border: 1px solid black;
  margin: 20px;
  pointer-events: none;
}

.waterslabel {
  color: rgb(252, 128, 148);
}

.cell {
  border: 1px solid black;
  background-color: var(--cell-plain-bg-color);
  pointer-events: auto;
}

.cell-hover {
  background-color: var(--cell-hover-bg-color);
}

.cell-placed {
  background-color: var(--cell-place-bg-color);
}

.cell-hit-ship {
  background-color: var(--cell-hit-ship-bg-color);
}

.cell-sunk-ship {
  background-color: var(--cell-sunk-ship-bg-color);
}

.cell-miss {
  background-color: var(--cell-miss-bg-color);
}

.cell-fire {
  background-color: var(--cell-fire-bg-color);
  transition: transform .2s;  /*Animation */
  transform: scale(1.1);
}

.cell-aim {
  background-color: var(--cell-fire-bg-color);
}

/* button.cell {
  padding: 0;
  margin: 0;
} */

.crosshair {
  cursor: crosshair !important;
}

.placeshipshere {
  box-shadow: var(--place-here-box-shadow);
}

.firehere {
  box-shadow: var(--place-here-box-shadow);
}
/* END GAMEBOARD AREA */
