:root {
  --main-bg-color: white;
  --cell-plain-bg-color: rgb(163, 230, 245);
  --cell-hover-bg-color: rgba(9, 116, 140, 0.7);
  --cell-place-bg-color: rgb(9, 116, 140);
  --cell-ship-bg-color: red;
  --cell-hit-ship-bg-color: red;
  /* I love this below color pink */
  --cell-sunk-ship-bg-color: rgb(255, 0, 174);
  --cell-miss-bg-color: gray;
  --cell-fire-bg-color: rgba(9, 116, 140, 0.4);
  --gb-bg-color:white;
  --message-area-bg-color: white;
  --gbOne-bg-color: green;
  --gbTwo-bg-color:blue;
  --button-bg-color: white;
  --button-border-color: black;
  --place-here-box-shadow: 0px 0px 30px 0px rgb(255, 68, 0);
  --fire-here-box-shadow: 0px 0px 30px 0px rgb(255, 68, 0);
  --subtle-box-shadow: -2px 2px 0px #0d012d25;
  height: 100vh;
}

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 325px auto;
  height: 100vh;
}

h1#maintitle {
  margin-bottom: 40px;
}

#sidebar {
  box-sizing: border-box;
  width: 100%;
  grid-column: 1 / 2;
  border-right: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}


#main {
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  /* centers vertically */
  justify-content: center; 
  align-items: center;
  background-color: var(--main-bg-color);
  font-family:Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 60px;
}

button {
  background-color: var(--button-bg-color);
  /* border-radius: 20px; */
  border: 1px solid var(--button-border-color);
  padding: 8px 18px 8px 18px;
  font-size: 18px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  box-shadow: var(--subtle-box-shadow);
  margin: 10px;
  width: fit-content;
}

button:hover {
  background-color: rgb(244, 236, 237);
}

button:active {
  background-color: rgb(245, 176, 92);
}

#rulescontainer, #scorecontainer.shown {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 25px;
  margin-left: 10px;
  margin-bottom: 30px;
  /* background-color:aquamarine; */
}





/* #namestartcontainer
#axiscontainer
#gb1msgcontainer */

.hidden {
  /* visibility: hidden; */
  display: none;
}

.shown {
  visibility: visible;
}

#welcomeform {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nsformitem {
  padding: 10px;
  margin: 5px;
}

input.nsformitem {
  min-width: 80%;
  padding: 5px;
}

#players {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 300px;
}

#gameboardrow {
  display: flex;
  flex-direction: row;
  background-color: var(--gb-bg-color);
}

.gameboardcolumn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gameboardcontainer {
  background-color: var(--gb-bg-color);
  width: 400px;
  height: 400px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  border: 1px solid black;
  margin: 20px;
}

.cell {
  border: 1px solid black;
  background-color: var(--cell-plain-bg-color);
}

/* .cell-plain {
  
} */

.cell-hover {
  background-color: var(--cell-hover-bg-color);
}

.cell-placed {
  background-color: var(--cell-place-bg-color);
}

.cell-hit-ship {
  background-color: var(--cell-hit-ship-bg-color);
}

.cell-sunk-ship {
  background-color: var(--cell-sunk-ship-bg-color);
}

.cell-miss {
  background-color: var(--cell-miss-bg-color);
}

.cell-fire {
  background-color: var(--cell-fire-bg-color);
  transition: transform .2s;  /*Animation */
  transform: scale(1.1);
  /* border: 1px solid white; */
}

.cell-aim {
  background-color: var(--cell-fire-bg-color);
}

.message {
  font-size: 20px;
}

#messagearea {
  /* border: 1px solid black; */
  border-radius: 5px;
  background-color: var(--message-area-bg-color);
  width: 600px;
  height: 180px;
  margin-bottom: 40px;
  border: 1px solid black;
}





#namebtn {
  width: 20ch;
}

.message {
  font-size: 20px;
}


.griditem {
  display: flex;
  align-self: center;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-content: center;
  text-align: center;
  justify-self: center;
}

.wrappergrid {
  width: 600px;
  height: 180px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60px 60px 60px;
}

.griditemtop {
  grid-row: 1 / 2;
}

.griditemmiddle {
  grid-row: 2 / 3;
}

.griditembottom {
  grid-row: 3 / 4;
}

.griditembottomtwo {
  grid-row: 2 / 4;
}

p.griditem {
  font-size: 20px;
}


.movemsg {
  text-align: left;
  align-self: left;
}

.movediv {
  /* later change width to be responsive */
  width: 80%;
  display: flex;
  align-content: center;
  justify-content: left;
}

.crosshair {
  cursor: crosshair;
}

.placeshipshere {
  box-shadow: var(--place-here-box-shadow);
}

.firehere {
  box-shadow: var(--place-here-box-shadow);
}

#toggleicon {
  margin-left: 5px;
  height: 18px;
}



.invisible {
  visibility: hidden;
}

ul {
  margin-left: 15px;
}

li {
  margin: 10px 0px 10px 15px;
  font-size: 18px;
}

li.scoreli {
  list-style-type: none;
}


.shipslist, #rulescontainer {
  margin-bottom: 20px;
}

.scoresunkship {
  text-decoration: line-through;
}


#draganddropcontainer {
  display: grid;
  grid-template-rows: auto repeat(8, auto);
  grid-template-columns: auto;
  align-content: left;
  justify-content: left;
  gap: 10px;
}

#draggablecarrier {
  flex-direction: column;
  width: fit-content;
}

#draggablebattleship {
  flex-direction: row;
  width: fit-content;
}

#draggabledestroyer, #draggablesubmarine {
  flex-direction: row;
  width: fit-content;
}

#draggablepatrolboat {
  flex-direction: row;
  width: fit-content;
}

.draggableship {
  display: flex;
  background-color:rgb(255, 0, 174);
  border: 1px solid black;
}

.draggablecell {
  border: 1px solid black;
  height: 40px;
  width: 40px;
}

.draggableshipname {
  margin-bottom: 5px;
  font-size: 20px;
}

.draggableshipcontainer {
  display: grid;
  grid-template-columns: 40px auto;
  grid-template-rows: 20px auto;
  margin-bottom: 20px;
  gap: 5px;
}

.topright {
  grid-column: 2 / 3;
  grid-row: 1 /2;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.bottomleft { 
  display: flex;
  padding-top: 8px;
  justify-self: center;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.bottomright {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

#draginstructions {
  font-size:22px;
  margin-left: 20px;
  margin-bottom: 20px;
}

button.rotatebtn {
  padding: 0;
  margin: 0;
  border: none;
  box-shadow: none;
  height: fit-content;
  width: fit-content;
}

